html, body, #wrapper, #img_wrapper {
    width: 100%;
    height: 100%;
    font-size: 14px;
}

#img_wrapper, #wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#img_wrapper {
    z-index: -1;

    display: flex;
    justify-content: center;
    align-items: center;
}

#blur_bg {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    filter: blur(30px);
    
    z-index: -2;

    scale: 2;
}

#wrapper {
    position: relative;
    z-index: 2;
}

#bg_hd {
    aspect-ratio: 1 / 1;
}

#wrapper > * {
    margin: 15px;
}

#title {
    font-size: 50px;
    height: 100%;
}

#copyright::before {
    content: "\00a9"
}

#description {
    position: absolute;
    bottom: 1em;

    text-align: center;
}

#date {
    position: absolute;
    right: 0;
    bottom: 0;
}

#copyright {
    position: absolute;
    left: 0;
    bottom: 0;
}

#error_text {
    z-index: 999;
    color: red;

    position: fixed;
    top: 50%;
    left: 50%;

    translate: -50% -50%;

    text-align: center;
}
